<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>

<body > 
  <div ng-app="bearApp" ng-controller="BearCtrl">
    <h2>Bear Restful:</h2>
    <b> Result: </b> <font color="red">{{result}} </font>
    <ul>
        <li ng-repeat="bear in bears track by $index">         
              {{ bear }}                     
            <button type="submit" ng-click="get(bear.id)"> Get </button> 
        </li>
    </ul>

    <h2>New Bear</h2>    
    <label for="name">Name: </label>    
    <input type="text" id="name"   ng-model="addBear.name"> <br>
    <label for="weight">Weight:</label>
    <input type="number" id="weight" ng-model="addBear.weight"> <br>    
    <button ng-click="add()">Add</button> <br>
   
  </div>

  <script type="text/javascript"> 
    var app = angular.module("bearApp", ['ngResource']) 

    app.controller("BearCtrl", function($scope,$http){         
      $scope.result = {};      

      // ======  $http version (without $resource) =========
      $http.get("/api/bears")
       .then(function(response) {
          $scope.bears = response.data; 
        })  
 
      $scope.get = function(id){ 
        $http.get("/api/bears/" + id)
         .then(function(response) {            
            $scope.result =  response.data;
          })  
     }

      $scope.add = function(){ 
        $http.post("/api/bears", $scope.addBear). 
          success(function(data){ 
            console.log($scope.addBear.name)          
            console.log($scope.addBear.weight)
            console.log(data)              
            console.log('message' + data.message)              
            $scope.bear = {}
            $scope.result = data.message
            //$scope.bears = data                      

            $http.get("/api/bears")
              .then(function(response) {
              $scope.bears = response.data;
            })            
            
          })
      } 
    })
 
  </script>
</body>
</html>
